@media (min-width: 1600px) {

  /*header styls*/
  .header {
    max-width: 1600px;

    .container {
      width: 100%;

      .nav_container {
        width: 73%;
      }
    }
  }

  .first_sectoin {
    max-width: 1600px;

    .first_sectoin_container {
      width: 73%;
      
    }
  }
}