@media (min-width: 1200px) {

  /*header styls*/
  .header {
    max-width: 1600px;

    .container {
      width: 100%;

      .nav_container {
        width: 73%;
      }
    }
  }

  .first_sectoin {
    max-width: 1600px;

    .first_sectoin_container {
      width: 73%;
    }
  }
  .second_sectoin {
    max-width: 1600px;

    .second_sectoin_container {
      width: 80%;
      .slick-track {
        width: 100%;
      }
    }
  }
}