@media (min-width: 0px) and (max-width: 480px) {
  /*header styls*/
  .header {
    max-width: 480px;
  }
  .header .nav_container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav_container img {
    max-width: 75%;
  }
  .header .nav_container .menu {
    display: none;
  }
  .header .nav_container nav {
    margin: 30px 0 30px;
  }
  .header .container {
    width: 100%;
  }
  .header .container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
  }
  .header .container .dot_nav_menu {
    display: none;
  }
  /*first_section_styls*/
  .first_section {
    max-width: 480px;
    padding-bottom: 20px;
  }
  .first_section h2 {
    font-size: 34px;
    margin: 70px 0 70px;
  }
  .first_section h2::before {
    left: 40%;
  }
  .first_section .first_section_container {
    width: 90%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 160px 160px auto 160px 160px auto;
        grid-template-rows: 160px 160px auto 160px 160px auto;
    gap: 75px 0px;
        grid-template-areas: "first-img" "first-img" "first_text" "second-img" "second-img" "second_text";
  }
  .first_section .first_section_container .first_text {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first_section .first_section_container .first_text h3 {
    font-size: 34px;
  }
  .first_section .first_section_container .second_text {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first_section .first_section_container .second_text h3 {
    font-size: 34px;
  }
  /*second_section_styls*/
  .second_section {
    max-width: 480px;
  }
  .second_section h2 {
    margin: 70px 0 70px;
    font-size: 34px;
  }
  .second_section h2:before {
    left: 40%;
  }
  .second_section .second_section_container {
    width: 90%;
  }
  /*third_section_styls*/
  .third_cection {
    max-width: 480px;
  }
  .third_cection .third_cection_container {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48.2705% 48.2705%;
        grid-template-columns: 48.2705% 48.2705%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    gap: 10px 10px;
        grid-template-areas: "title title" "big_photo big_photo" "big_photo big_photo" "small_1 small_2" "small_3 small_4" "bottom bottom";
  }
  .third_cection .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third_cection h2 {
    margin: 70px 0 60px;
    font-size: 34px;
  }
  .third_cection h2::before {
    left: 30%;
  }
  .third_cection .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    padding: 50px 0 30px;
  }
  /*fourth_section_style*/
  .fourth_section {
    max-width: 480px;
  }
  .fourth_section .fourth_section_contacts {
    width: 100%;
    top: 40%;
    -ms-grid-columns: 20px auto auto 20px;
        grid-template-columns: 20px auto auto 20px;
    -ms-grid-rows: auto auto auto 30px;
        grid-template-rows: auto auto auto 30px;
    gap: 0px 0px;
        grid-template-areas: ".title title." ".inputs inputs." ".contacts contacts." ".bottom bottom.";
  }
  .fourth_section .fourth_section_contacts .title h2 {
    font-size: 34px;
    margin: 70px 0;
  }
  .fourth_section .fourth_section_contacts .title h2:before {
    position: absolute;
    left: 40%;
  }
  .fourth_section .fourth_section_contacts .contacts {
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourth_section .fourth_section_contacts .contacts p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .fourth_section .fourth_section_contacts .inputs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*footer_style*/
  .footer {
    max-width: 480px;
    padding-bottom: 30px;
  }
  .footer .footer_container {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer_container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer_container .top ul {
    margin-top: 30px;
  }
  .footer .footer_container .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer_container .bottom .first_paragraph {
    margin: 30px 0 0 0;
  }
  .footer .footer_container .bottom .first_paragraph::after {
    display: none;
  }
  .footer .footer_container .bottom .second_paragraph {
    margin: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*header styls*/
  .header {
    max-width: 767px;
    min-width: 481px;
  }
  .header .nav_container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav_container .menu {
    display: none;
  }
  .header .nav_container nav {
    margin: 30px 0 30px;
  }
  .header .container {
    width: 100%;
  }
  .header .container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
  }
  .header .container .dot_nav_menu {
    display: none;
  }
  /*first_section_styls*/
  .first_section {
    max-width: 767px;
    min-width: 481px;
    padding-bottom: 20px;
  }
  .first_section h2 {
    font-size: 34px;
    margin: 70px 0px;
  }
  .first_section h2::before {
    left: 45%;
  }
  .first_section .first_section_container {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 160px 160px auto 160px 160px auto;
        grid-template-rows: 160px 160px auto 160px 160px auto;
    gap: 70px 0px;
        grid-template-areas: "first-img" "first-img" "first_text" "second-img" "second-img" "second_text";
  }
  .first_section .first_section_container .first_text {
    padding: 0 0 0 0px;
  }
  .first_section .first_section_container .second_text {
    padding: 0px 0px 0 0;
  }
  /*second_section_styls*/
  .second_section {
    max-width: 767px;
    min-width: 481px;
  }
  .second_section h2 {
    font-size: 34px;
    margin: 70px 0 70px;
  }
  .second_section h2:before {
    left: 45%;
  }
  .second_section .second_section_container {
    width: 80%;
  }
  /*third_section_styls*/
  .third_cection {
    max-width: 767px;
    min-width: 481px;
  }
  .third_cection .third_cection_container {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48.2705% 48.2705%;
        grid-template-columns: 48.2705% 48.2705%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    gap: 20px 20px;
        grid-template-areas: "title title" "big_photo big_photo" "big_photo big_photo" "small_1 small_2" "small_3 small_4" "bottom bottom";
  }
  .third_cection .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third_cection h2 {
    font-size: 34px;
    margin: 70px 0 60px;
  }
  .third_cection h2::before {
    left: 20%;
  }
  .third_cection .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    padding: 50px 0 30px;
  }
  /*fourth_section_style*/
  .fourth_section {
    max-width: 767px;
    min-width: 481px;
  }
  .fourth_section .fourth_section_contacts {
    width: 100%;
    top: 40%;
    -ms-grid-columns: 20px auto auto 20px;
        grid-template-columns: 20px auto auto 20px;
    -ms-grid-rows: 165px auto auto 30px;
        grid-template-rows: 165px auto auto 30px;
    gap: 0px 0px;
        grid-template-areas: ".title title." ".inputs inputs." ".contacts contacts." ".bottom bottom.";
  }
  .fourth_section .fourth_section_contacts .title h2 {
    font-size: 34px;
    margin: 70px 0;
  }
  .fourth_section .fourth_section_contacts .title h2:before {
    position: absolute;
    left: 45%;
  }
  .fourth_section .fourth_section_contacts .contacts {
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourth_section .fourth_section_contacts .contacts p {
    margin-bottom: 20px;
  }
  .fourth_section .fourth_section_contacts .inputs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*footer_style*/
  .footer {
    max-width: 767px;
    min-width: 481px;
    padding-bottom: 30px;
  }
  .footer .footer_container {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer_container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer_container .top ul {
    margin-top: 30px;
  }
  .footer .footer_container .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer_container .bottom .first_paragraph {
    margin: 30px 0 0 0;
  }
  .footer .footer_container .bottom .first_paragraph::after {
    display: none;
  }
  .footer .footer_container .bottom .second_paragraph {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*header styls*/
  .header {
    max-width: 991px;
    min-width: 768px;
  }
  .header .nav_container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav_container .menu {
    margin-right: 80px;
  }
  .header .nav_container .header__mobile_menu {
    display: none;
  }
  .header .nav_container nav {
    margin: 30px 0 30px;
  }
  .header .container {
    width: 100%;
  }
  .header .container h1 {
    font-size: 60px;
  }
  /*first_section_styls*/
  .first_section {
    max-width: 991px;
    min-width: 768px;
  }
  .first_section h2::before {
    left: 43%;
  }
  .first_section .first_section_container {
    width: 90%;
  }
  .first_section .first_section_container h3 {
    font-size: 34px;
  }
  .first_section .first_section_container .first_text {
    padding: 0 0 0 40px;
  }
  .first_section .first_section_container .second_text {
    padding: 0px 40px 0 0;
  }
  /*second_section_styls*/
  .second_section {
    max-width: 991px;
    min-width: 768px;
  }
  .second_section h2::before {
    left: 43%;
  }
  .second_section .second_section_container {
    width: 90%;
  }
  /*third_section_styls*/
  .third_cection {
    max-width: 991px;
    min-width: 768px;
  }
  .third_cection .third_cection_container {
    width: 90%;
  }
  .third_cection h2::before {
    left: 43%;
  }
  /*fourth_section_style*/
  .fourth_section {
    max-width: 991px;
    min-width: 768px;
  }
  .fourth_section .fourth_section_contacts {
    width: 80%;
    left: 10%;
  }
  .fourth_section .fourth_section_contacts .title h2:before {
    position: absolute;
    left: 40%;
  }
  /*footer_style*/
  .footer {
    max-width: 991px;
    min-width: 768px;
  }
  .footer_container {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1354px) {
  /*header styls*/
  .header {
    max-width: 1354px;
    min-width: 992px;
  }
  .header .nav_container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav_container .header__mobile_menu {
    display: none;
  }
  .header .nav_container nav {
    margin: 30px 0 30px;
  }
  .header .container {
    width: 100%;
  }
  /*first_section_styls*/
  .first_section {
    max-width: 1354px;
    min-width: 992px;
  }
  .first_section .first_section_container {
    width: 90%;
  }
  /*second_section_styls*/
  .second_section {
    max-width: 1354px;
    min-width: 992px;
  }
  .second_section .second_section_container {
    width: 90%;
  }
  /*third_section_styls*/
  .third_cection {
    max-width: 1354px;
    min-width: 992px;
  }
  .third_cection .third_cection_container {
    width: 90%;
  }
  /*fourth_section_style*/
  .fourth_section {
    max-width: 1354px;
    min-width: 992px;
  }
  .fourth_section .fourth_section_contacts {
    width: 70%;
    left: 15%;
  }
  /*footer_style*/
  .footer {
    max-width: 1354px;
    min-width: 992px;
  }
  .footer_container {
    width: 70%;
  }
}

@media (min-width: 1355px) and (max-width: 1499px) {
  /*header styls*/
  .header {
    max-width: 1499px;
    min-width: 1355px;
  }
  .header .nav_container {
    width: 80%;
  }
  .header .nav_container .header__mobile_menu {
    display: none;
  }
  .header .container {
    width: 100%;
  }
  /*first_section_styls*/
  .first_section {
    max-width: 1499px;
    min-width: 1355px;
  }
  .first_section .first_section_container {
    width: 80%;
  }
  /*second_section_styls*/
  .second_section {
    max-width: 1499px;
    min-width: 1355px;
  }
  .second_section .second_section_container {
    width: 80%;
  }
  /*third_section_styls*/
  .third_cection {
    max-width: 1499px;
    min-width: 1355px;
  }
  .third_cection .third_cection_container {
    width: 80%;
  }
  /*fourth_section_style*/
  .fourth_section {
    max-width: 1499px;
    min-width: 1355px;
  }
  .fourth_section .fourth_section_contacts {
    width: 55.13%;
    left: 22.5%;
  }
  /*footer_style*/
  .footer {
    max-width: 1499px;
    min-width: 1355px;
  }
  .footer_container {
    width: 55.13%;
  }
}

@media (min-width: 1500px) {
  /*header styls*/
  .header {
    min-width: 1500px;
    width: 100%;
  }
  .header .nav_container {
    width: 73%;
  }
  .header .nav_container .header__mobile_menu {
    display: none;
  }
  .header .container {
    width: 100%;
  }
  /*first_section_styls*/
  .first_section {
    min-width: 1500px;
    width: 100%;
  }
  .first_section .first_section_container {
    width: 50%;
  }
  /*second_section_styls*/
  .second_section {
    min-width: 1500px;
    width: 100%;
  }
  .second_section .second_section_container {
    width: 50%;
  }
  /*third_section_styls*/
  .third_cection {
    min-width: 1500px;
    width: 100%;
  }
  .third_cection .third_cection_container {
    width: 50%;
  }
  /*fourth_section_style*/
  .fourth_section {
    min-width: 1500px;
    width: 100%;
  }
  .fourth_section .fourth_section_contacts {
    width: 33%;
    left: 33.5%;
  }
  /*footer_style*/
  .footer {
    min-width: 1500px;
    width: 100%;
  }
  .footer_container {
    width: 33%;
  }
}
/*# sourceMappingURL=media_queries.css.map */