@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/gothamBold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/GothamBook.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url(../fonts/gothamMedium.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans-v18-latin-regular.woff);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

.btn {
  max-width: 195px;
  font-family: "Gotham Book";
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #2c4058;
  padding: 20px 40px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: #55b7ff;
  border: 1px solid #55b7ff;
}

/*header styls*/

.header {
  margin: 0 auto;
  display: flex;

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 52px 0;
    background: url(../img/bgnd/header_bg.png) no-repeat,
      linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);

    .nav_container {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        font-size: 14px;
        font-family: "Gotham Book";
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin-right: 90px;
      }

      .menu::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 2px;
        left: -15px;
        transition: 0.2s;
      }

      .menu:hover:before {
        background-color: #fff;
      }

      .nav_menu {
        margin-left: 60px;
      }


      .social_networks:nth-child(2) {
        margin: 0 10px 0;
      }

      li {
        display: inline-block;
      }
    }

    h1 {
      font-size: 80px;
      font-family: "Gotham Bold";
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 260px;
    }

    p {
      font-size: 18px;
      font-family: "Gotham Book";
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 15px 0 230px;
    }
  }
}

/*first_sectoin style*/

.first_sectoin {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 140px;

  h2 {
    font-family: "Gotham Bold";
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    margin: 140px 0 170px;
    position: relative;
  }

  h2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    left: 47%;
    top: -80%;
    transform: translate(-50% -50%);
  }

  .first_sectoin_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 46.15% 7.7% 46.15%;
    grid-template-rows: 470px 470px;
    gap: 210px 0px;
    grid-template-areas:
      "first-img first-img first_text"
      "second_text second-img second-img";
  }

  .first-img {
    grid-area: first-img;
    display: flex;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  .first-img::before {
    position: absolute;
    content: "";
    display: block;
    width: 92.86%;
    height: 100%;
    background-color: #55b7ff;
    top: -15%;
    left: -34.5%;
    z-index: -1;
  }

  .first_text {
    grid-area: first_text;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 60px 0 0 70px;

  }

  .second_text {
    grid-area: second_text;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 60px;
    padding: 60px 70px 0 0;
  }

  .second-img {
    grid-area: second-img;
    display: flex;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  .second-img::after {
    position: absolute;
    content: "";
    display: block;
    width: 92.86%;
    height: 100%;
    background-color: #7e5aff;
    top: -15%;
    right: -34.5%;
    z-index: -1;
  }

  .first_paragraph {
    font-family: "Gotham Book";
    font-size: 22px;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  h3 {
    font-family: "Gotham Book";
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 44px;
  }

  .second_paragraph {
    font-family: "Open Sans";
    font-size: 18px;
    color: #4b5562;
    margin-bottom: 40px;
  }

  .third_paragraph {
    font-family: "FontAwesome";
    font-style: italic;
    font-size: 18px;
    color: #2c4058;
    margin-top: 62px;
  }
}

/*second_sectoin style*/

.second_sectoin {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../img/bgnd/section3_bg.png) no-repeat, linear-gradient(45deg, rgb(60, 127, 212) 0%, rgb(36, 204, 250) 100%);
  padding-bottom: 85px;

  h2 {
    font-family: "Gotham Medium";
    font-size: 44px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 182px 0 100px;
    position: relative;
  }

  h2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    left: 47%;
    top: -80%;
    transform: translate(-50% -50%);
  }

  .second_sectoin_container {
    margin: 0 auto;
    position: relative;

    .slick-track {
      margin: 0 auto;
      display: flex;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -60px 0 0;
      z-index: 1;
      font-size: 0;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
    }

    .slick-arrow:active,
    .slick-arrow:focus {
      outline: none;
    }

    .slick-arrow.slick-prev {
      left: -101px;
      background: url(../img/icons/arrow_l.png) 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
      right: -81px;
      background: url(../img/icons/arrow_r.png) 0 0 / 100% no-repeat;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slick-dots li {
      margin: 60px 40px 0 0;
    }

    .slick-dots li.slick-active {
      font-size: 0;
      background-color: #fff;
      border-radius: 50%;
    }

    .slick-dots li.slick-active:active,
    .slick-dots li.slick-active:focus {
      outline: 0;
    }

    .slick-dots li button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0;
      padding: 0;
    }
  }

  .slider_card {
    width: 370px;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: #fff;
    margin: 0 30px 0 0;
    padding-bottom: 42px;

    .face {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .name {
      font-family: "Gothem Book";
      font-size: 18px;
      text-transform: uppercase;
      float: left;
      display: flex;
      text-align: left;
      margin: 40px 0 0 20px;

      span {
        font-size: 14px;
        color: #55b7ff;
        line-height: 2.5;
      }
    }

    img {
      width: 100%;
    }

    h3 {
      font-family: "Gotham Bold";
      font-size: 22px;
      color: #2c4058;
      text-transform: uppercase;
      margin: 30px 0 0 20px;
    }

    p {
      font-family: "Open Sans";
      font-size: 18px;
      color: #4b5562;
      margin: 13px 0 0 20px;
    }
  }
}