html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/gothamBold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/GothamBook.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url(../fonts/gothamMedium.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans-v18-latin-regular.woff);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

.btn {
  max-width: 195px;
  min-width: 140px;
  font-family: "Gotham Book";
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #2c4058;
  padding: 20px 40px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: #55b7ff;
  border: 1px solid #55b7ff;
}

.social_networks:nth-child(2) {
  margin: 0 10px 0;
}

/*header styls*/

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url(../img/bgnd/header_bg.png) no-repeat,
    linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .nav_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 0;

    .menu {
      font-size: 14px;
      font-family: "Gotham Book";
      color: #fff;
      text-transform: uppercase;
      position: relative;
      margin-right: 90px;
    }

    .menu::before {
      position: absolute;
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: 2px;
      left: -15px;
      transition: 0.2s;
    }

    .menu:hover:before {
      background-color: #fff;
    }

    .nav_menu {
      margin-left: 60px;
    }

    li {
      display: inline-block;
    }


    .header__mobile_menu {
      position: absolute;
    }

    .header__mobile_menu__button {
      position: fixed;
      top: 50px;
      right: 13px;
      z-index: 2;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #fff;
      transition: 0.4s;
    }

    .header__mobile_menu__button:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }

    .header__mobile_menu__lines::before,
    .header__mobile_menu__lines::after,
    .header__mobile_menu__lines {
      position: absolute;
      width: 42px;
      height: 3px;
      background-color: #7e5aff;
      transition: 0.4s;
    }

    .header__mobile_menu__lines {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .header__mobile_menu__lines::before {
      content: "";
      top: -12px;
    }

    .header__mobile_menu__lines::after {
      content: "";
      top: 12px;
    }

    .header__mobile_menu_active .header__mobile_menu__lines {
      background-color: transparent;
    }

    .header__mobile_menu_active .header__mobile_menu__lines::before {
      top: 0;
      transform: rotate(45deg);
    }

    .header__mobile_menu_active .header__mobile_menu__lines::after {
      top: 0;
      transform: rotate(-45deg);
    }

    .header__mobile_menu__nav {
      padding-top: 140px;
      position: fixed;
      top: -5%;
      right: -100%;
      z-index: 1;
      display: flex;
      flex-flow: column;
      height: 100%;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.4s;
    }

    .header__mobile_menu_active .header__mobile_menu__nav {
      right: 0;
      transition: 0.4s;
    }

    .header__mobile_menu__link {
      padding: 18px 35px;
      font-family: "Gotham Book";
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: #7e5aff;
      border-bottom: 2px solid #7e5aff;
    }

    .header__mobile_menu__link:hover {
      cursor: pointer;
    }

    .header__mobile_menu__link:first-child {
      border-top: 1px solid #fff;
    }

    .header__mobile_menu__link:hover {
      filter: brightness(0.9);
    }

    .header__mobile_menu__overlay {
      display: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .header__mobile_menu_active .header__mobile_menu__overlay {
      display: block;

      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 42px;

    h1 {
      font-size: 80px;
      font-family: "Gotham Bold";
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 260px;
    }

    p {
      font-size: 18px;
      font-family: "Gotham Book";
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 15px 0 230px;
    }
  }
}

/*first_section style*/

.first_section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 140px;

  h2 {
    font-family: "Gotham Bold";
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    margin: 140px 0 170px;
    position: relative;
  }

  h2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    left: 47%;
    top: -80%;
    transform: translate(-50% -50%);
  }

  .first_section_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 46.15% 7.7% 46.15%;
    grid-template-rows: auto auto;
    gap: 210px 0px;
    grid-template-areas:
      "first-img first-img first_text"
      "second_text second-img second-img";
  }

  .first-img {
    grid-area: first-img;
    display: flex;
    position: relative;
    background: url(../img/images/first_section_first.png) no-repeat;
  }

  .first-img::after {
    position: absolute;
    content: "";
    display: block;
    width: 92.86%;
    height: 100%;
    background-color: #55b7ff;
    top: -15%;
    left: -34.5%;
    z-index: -1;
  }

  .second-img {
    grid-area: second-img;
    display: flex;
    position: relative;
    background: url(../img/images/first_section_second.png) no-repeat;
  }

  .second-img::after {
    position: absolute;
    content: "";
    display: block;
    width: 92.86%;
    height: 100%;
    background-color: #7e5aff;
    top: -15%;
    right: -34.5%;
    z-index: -1;
  }

  .first_text {
    grid-area: first_text;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 60px 0 0 70px;
  }

  .second_text {
    grid-area: second_text;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 60px;
    padding: 60px 70px 0 0;
  }

  .first_paragraph {
    font-family: "Gotham Book";
    font-size: 22px;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  h3 {
    font-family: "Gotham Book";
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 44px;
  }

  .second_paragraph {
    font-family: "Open Sans";
    font-size: 18px;
    color: #4b5562;
    margin-bottom: 40px;
  }

  .third_paragraph {
    font-family: "FontAwesome";
    font-style: italic;
    font-size: 18px;
    color: #2c4058;
    margin-top: 62px;
  }
}

/*second_section style*/

.second_section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../img/bgnd/section3_bg.png) no-repeat,
    linear-gradient(45deg, rgb(60, 127, 212) 0%, rgb(36, 204, 250) 100%);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 85px;

  h2 {
    font-family: "Gotham Medium";
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
    margin: 182px 0 100px;
    position: relative;
  }

  h2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    left: 47%;
    top: -80%;
    transform: translate(-50% -50%);
  }

  .second_section_container {
    margin: 0 auto;
    position: relative;

    .slick-track {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -60px 0 0;
      z-index: 1;
      font-size: 0;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
    }

    .slick-arrow:active,
    .slick-arrow:focus {
      outline: none;
    }

    .slick-arrow.slick-prev {
      left: -101px;
      background: url(../img/icons/arrow_l.png) 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
      right: -81px;
      background: url(../img/icons/arrow_r.png) 0 0 / 100% no-repeat;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slick-dots li {
      margin: 60px 40px 0 0;
      padding: 0;
    }

    .slick-dots li:nth-child(5) {
      margin: 60px 0 0 0;
    }

    .slick-dots li button {
      display: block;
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 0;
    }

    .slick-dots li.slick-active {
      font-size: 0;
      background-color: #fff;
      border-radius: 50%;
      padding: 0;
    }

    .slider_card {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      background-color: #fff;
      margin: 0 15px 0 15px;
      padding: 0 0 20px 0;

      .face {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .name {
        font-family: "Gothem Book";
        font-size: 18px;
        text-transform: uppercase;
        float: left;
        display: flex;
        text-align: left;
        margin: 40px 0 0 20px;

        span {
          font-size: 14px;
          color: #55b7ff;
          line-height: 2.5;
        }
      }

      img {
        max-width: 100%;
      }

      h3 {
        font-family: "Gotham Bold";
        font-size: 22px;
        color: #2c4058;
        text-transform: uppercase;
        margin: 30px 0 0 20px;
      }

      p {
        font-family: "Open Sans";
        font-size: 18px;
        color: #4b5562;
        line-height: 1.8;
        margin: 13px 0 0 20px;
      }
    }
  }
}

/*third_section_styls*/

.third_cection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  .third_cection_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 300px auto auto 240px;
    gap: 10px 10px;
    grid-template-areas:
      "title title title title"
      "big_photo big_photo small_1 small_2"
      "big_photo big_photo small_3 small_4"
      "bottom bottom bottom bottom";
  }

  .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-family: "Gotham Medium";
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    position: relative;
  }

  h2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    left: 45.5%;
    top: -80%;
    transform: translate(-50% -50%);
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .big_photo {
    grid-area: big_photo;
    position: relative;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .big_photo::before {
    position: absolute;
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/icons/360.png) no-repeat;
    left: 43.5%;
    top: 40.5%;
    z-index: 1;
  }

  .small_1 {
    grid-area: small_1;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .small_2 {
    grid-area: small_2;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .small_3 {
    grid-area: small_3;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .small_4 {
    grid-area: small_4;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .link_img {
    position: relative;
  }

  .link_img::before {
    position: absolute;
    content: "";
    background: linear-gradient(45deg,
        rgba(60, 126, 212, 0.7) 0%,
        rgba(36, 204, 250, 0.7) 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 2s;
  }

  .link_img:hover::before {
    opacity: 1;
  }
}

/*fourth_section_style*/

.fourth_section {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../img/bgnd/Map.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 700px;

  .fourth_section_contacts {
    position: absolute;
    transform: translate(50% 50%);
    top: 57%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 7.8% 42.2% 42.2% 7.8%;
    grid-template-rows: 165px auto auto 80px;
    gap: 0px 0px;
    grid-template-areas:
      ".title title."
      ".contacts inputs."
      ".bottom bottom.";
    background: url(../img/bgnd/footer_bg_form.png) no-repeat;
    background-size: cover;
    box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);

    .title {
      grid-area: title;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-top: 50px;
        position: relative;
        font-family: "Gotham Medium";
        font-size: 44px;
        color: #2c4058;
        text-transform: uppercase;
      }

      h2:before {
        position: absolute;
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        left: 42.7%;
        top: -80%;
      }
    }

    .contacts {
      grid-area: contacts;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;

      p {
        font-family: "Gotham Book";
        font-size: 18px;
        color: #2c4058;
        display: inline-block;
      }

      span {
        color: #7e5aff;
      }
    }

    .inputs {
      grid-area: inputs;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      input {
        width: 100%;
        margin-bottom: 30px;
        height: 40px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #d5d9de;
      }

      input::placeholder {
        font-family: "Gotham Book";
        font-size: 18px;
        color: #4b5562;
      }

      input:focus {
        border-bottom: 1px solid #2c4058;
      }

      input:focus::-webkit-input-placeholder {
        color: #2c4058;
      }

      input:focus::-moz-placeholder {
        color: #2c4058;
      }

      input:focus:-moz-placeholder {
        color: #2c4058;
      }

      input:focus:-ms-input-placeholder {
        color: #2c4058;
      }
    }
  }
}

/*footer_style*/

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../img/bgnd/footer_bg.png) no-repeat,
    linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 200px 0 210px;

  .footer_container {
    margin: 0 auto;

    .top {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        display: inline-block;
      }
    }

    .bottom {
      margin: 0 auto;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 14px;
      color: #fff;
      margin-top: 55px;

      .first_paragraph {
        font-family: "Gotham Book";
        position: relative;
      }

      .first_paragraph::after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        background-color: #fff;
        left: 110%;
        top: -20%;
      }

      .second_paragraph {
        font-family: "Gotham Book";
        margin-left: 40px;
      }
    }
  }
}